.App {
  /* text-align: center; */
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-sprint {
  @apply border-2 border-green-900 hover:bg-green-300 rounded-lg p-1;
}

.section-title {
  @apply text-sm font-bold;
}

.add-word-field {
  @apply border-2 border-green-900 hover:bg-green-300 focus:border-green-600 rounded-lg w-full px-1 outline-none;
}

.en-vocab-btn {
  @apply bg-green-500 rounded-full px-4 py-2 text-gray-100 hover:bg-green-700;
}

.en-vocab-section {
  @apply border-2 rounded-xl border-green-900 p-2;
}